{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "janta/header.html" %}

    <!--Custom lib -->
</head>
<body>

{% include "janta/nav-links.html" %}

<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> All Tasks </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-1">
                            <h3>{{ message }}</h3>
                            <h4>Recently created tasks</h4>
                            {% for task in tasks_list %}
                                <div class="container p-3 my-3 border">
                                <form action='/janta/admin-del-task_list/' method='POST'>
                                    {% csrf_token %}
                                    <ul>
                                        <li>Task Id: {{ task.task_id }}</li>
                                        <li>Type: {{ task.task_type }}</li>
                                        <li>Description: {{ task.description }}</li>
                                        <li>Deadline: {{ task.deadline }}</li>
                                        <li>Created on: {{ task.creation_time }}</li>
                                        <li>Moderator: <a style="color: white;" href="/janta/profile/?handle={{ task.owner }}"> {{ task.owner }} </a></li>
                                    </ul>
                                    <input type="text" name="del_task_id" hidden value="{{ task.task_id }}">
                                    <button class="btn btn-primary btn-l btn-outline-light" type="submit"><i class="fa fa-trash"></i> Delete</button>
                                </form>
                                </div>
                                <br>
                            {% empty %}
                                No task created.
                            {% endfor %}

                        </div>

                        <div class="col-md-4">
                            <div class="container p-3 my-3 border">
                                {% include "janta/notification-div.html" %}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

            </div>
        </header>

</body>
</html>