{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "janta/header.html" %}

    <!--Custom lib -->
</head>
<body>

{% include "janta/nav-links.html" %}

<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="/static/img/avataaars.svg" alt="" width="200" height="200"/>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> Admin Panel </h1>

                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->

                <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-1">
                        <br>
                        <h3 class=" text-uppercase mb-0"> {{ message }} </h3>
                        <form action='/janta/admin-del-user/' method='POST'>
                            {% csrf_token %}
                            <input type="text" name="del_user_handle" placeholder="User handle">
                            <button class="btn btn-primary btn-l btn-outline-light" type="submit"><i class="fa fa-trash"></i> Delete User</button>
                        </form>

                        <br>
                        <form action='/janta/admin-del-moderator/' method='POST'>
                            {% csrf_token %}
                            <input type="text" name="del_moderator_handle" placeholder="Moderator's handle">
                            <button class="btn btn-primary btn-l btn-outline-light" type="submit"><i class="fa fa-trash"></i> Delete Moderator</button>
                        </form>

                        <br>
                        <form action='/janta/admin-del-task/' method='POST'>
                            {% csrf_token %}
                            <input type="text" name="del_task_id" placeholder="Task Id">
                            <button class="btn btn-primary btn-l btn-outline-light" type="submit"><i class="fa fa-trash"></i> Delete Task</button>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <div class="container p-3 my-3 border">
                            {% include "janta/notification-div.html" %}
                        </div>

                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            </div>
        </header>



</body>
</html>


