{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "janta/header.html" %}

    <!--Custom lib -->
</head>
<body>

{% include "janta/nav-links.html" %}


<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> Create Task </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-1">

                            <form action='/janta/create-task/' method='POST'>
                                {% csrf_token %}
                                {{ create_task_form.as_p }}
                                <button class="btn btn-primary btn-l btn-outline-light" type="submit"><i class="fa fa-plus-circle"></i> Create</button>
                                <p>{{ message }}</p>
                            </form>

                        </div>

                        <div class="col-md-4">
                            <div class="container p-3 my-3 border">
                                {% include "janta/notification-div.html" %}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>


            </div>
        </header>



</body>
</html>
