{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "janta/header.html" %}

    <!--Custom lib -->
</head>
<body>

{% include "janta/nav-links.html" %}


<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> Error occurred </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-1">
                            <br>
                            {{ message }}
                        </div>

                        <div class="col-md-4">
                            <div class="container p-3 my-3 border">
                                {% include "janta/notification-div.html" %}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>



            </div>
        </header>

</body>
</html>
