{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "janta/header.html" %}

    <!--Custom lib -->

</head>
<body>

{% include "janta/nav-links.html" %}


<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> Messages </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-1">
                            <table>
                                <tr>
                                    <td>
                                        <form action='/janta/send-message/' method='POST'>
                                            {% csrf_token %}
                                            {{ send_message_form.as_p }}
                                            <button type="submit" class="btn btn-primary btn-l btn-outline-light"><i class="fa fa-envelope"></i> Send</button>
                                            <p>{{ message }}</p>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <th>Message History</th>
                                </tr>
                                {% for message in my_messages %}
                                    <tr style="text-align:left; border: 2px solid white;">
                                        <td style="padding: 5px;">
                                            {% if message.sender == user.user_handle %}
                                                To: <a style="color:white;" href="/janta/profile/?handle={{ message.receiver }}">{{ message.receiver }}</a> <br>
                                                {{ message.text }}<br>
                                                Sent on: {{ message.msg_time }}
                                            {% else %}
                                                From: <a style="color:white;" href="/janta/profile/?handle={{ message.sender }}">{{ message.sender }}</a> <br>
                                                {{ message.text }}<br>
                                                Received on: {{ message.msg_time }}
                                            {% endif %}
                                            <a href="/janta/delete-message/?id={{ message.id }}"><button class="btn btn-primary btn-l btn-outline-light float-right"><i class="fa fa-trash"></i> Delete</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>

                        </div>

                        <div class="col-md-4">
                            <div class="container p-3 my-3 border">
                                {% include "janta/notification-div.html" %}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

            </div>
        </header>



</body>
</html>





